<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= image_path "banner.jpg" %>')">
  <div>
    <h1>Cookbook</h1>
    <h3>Save your favorite recipes</h3>
  </div>
</div>
