.banner {
  height: 300px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  text-shadow: 0 0 1px black;
  color: white;
  text-align: center;
}
