<div class="form-center mt-5">
  <h2>Add a new Category</h2>

  <%= simple_form_for(@category) do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Create Category", class: "btn btn-warning"%>
  <% end %>
<div>
