<h2>Create new Category</h2>

<%= simple_form_for(@category) do |f| %>
  <%= f.input :name %>
  <%= f.submit "Create new category", class: "btn btn-primary"%>
<% end %>
<br>
<p><%= link_to "Back", categories_path %></p>
